<div class="toast-wrap"><% success.forEach(m => { %><div class="alert alert-success shadow-sm"><%= m %></div><% }) %><% error.forEach(m => { %><div class="alert alert-danger shadow-sm"><%= m %></div><% }) %></div>
